<h1>Home</h1>
<div class="container">
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title><span>Current Individual Offers Count</span></mat-card-title>
    <mat-card-subtitle><span>{{individualsOffers.length}}</span></mat-card-subtitle>
    </mat-card-title-group>
</mat-card>
<mat-card class="example-card">
   <mat-card-title-group>
     <mat-card-title><span>Current Team Offers Count</span></mat-card-title>
     <mat-card-subtitle><span>{{teamsOffers.length}}</span></mat-card-subtitle>
   </mat-card-title-group>
</mat-card>
</div>
